<nav class="navbar navbar-inverse">
  <div class="container">
    <h1>
      Movie Quotes
    </h1>
  </div>
</nav>

<div class="container-fluid">
  <div class="well well-lg">
    <form (ngSubmit)="onSubmit()" #movieQuoteForm="ngForm">
      <div class="form-group">
        <input required class="form-control" type="text" placeholder="Quote" name="quote" [(ngModel)]="formMovieQuote.quote" />
      </div>

      <div class="form-group">
        <input required class="form-control" type="text" placeholder="Movie" name="movie" [(ngModel)]="formMovieQuote.movie" />
      </div>
      
      <p *ngIf="formMovieQuote.movie && formMovieQuote.quote">
        The best quote from <b>{{formMovieQuote.movie}}</b> is <b>"{{formMovieQuote.quote}}"</b>
      </p>

      <button [disabled]="!movieQuoteForm.form.valid" class="btn btn-primary pull-right" type=submit> Submit </button>
      <div class="clearfix" ></div>
    </form>
  </div>
</div>

<hr/>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th> Quote </th>
        <th> Movie </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movieQuote of movieQuotes">
        <td> {{movieQuote.quote}} </td>
        <td> {{movieQuote.movie}} </td>
      </tr>
    </tbody>
  </table>
</div>

